<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>EnableGlobbing</key>
    <true/>
    <key>Label</key>
    <string>edu.brown.ccv.jholla10.log-focus-every-5-minutes</string>
    <key>ProgramArguments</key>
    <array>
        <string>shortcuts</string>
        <string>run</string>
        <string>Log Current Focus</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
</dict>
</plist>